In [24]:
# Import Necessary Libraries

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression
import pickle

In [28]:
# Load the dataset into a Pandas DataFrame
df = pd.read_csv('data/dataset.csv')
# Display the first few rows of the dataset
df.head()

,MONATSZAHL,AUSPRAEGUNG,JAHR,MONAT,WERT,VORJAHRESWERT,VERAEND_VORMONAT_PROZENT,VERAEND_VORJAHRESMONAT_PROZENT,ZWOELF_MONATE_MITTELWERT
0,Alkoholunfälle,insgesamt,2023,202301,NaN,NaN,NaN,NaN,NaN
1,Alkoholunfälle,insgesamt,2023,202302,NaN,NaN,NaN,NaN,NaN
2,Alkoholunfälle,insgesamt,2023,202303,NaN,NaN,NaN,NaN,NaN
3,Alkoholunfälle,insgesamt,2023,202304,NaN,NaN,NaN,NaN,NaN
4,Alkoholunfälle,insgesamt,2023,202305,NaN,NaN,NaN,NaN,NaN

In [29]:
# Drop unnecessary columns
df = df[['MONATSZAHL', 'AUSPRAEGUNG', 'JAHR', 'MONAT', 'WERT']]
df.head()

       MONATSZAHL AUSPRAEGUNG  JAHR   MONAT  WERT
0  Alkoholunfälle   insgesamt  2023  202301   NaN
1  Alkoholunfälle   insgesamt  2023  202302   NaN
2  Alkoholunfälle   insgesamt  2023  202303   NaN
3  Alkoholunfälle   insgesamt  2023  202304   NaN
4  Alkoholunfälle   insgesamt  2023  202305   NaN

In [32]:
# Rename the columns we will be working on 
df = df.rename( columns = { 
    'MONATSZAHL' : 'Category',
    'AUSPRAEGUNG': 'Accident_Type',
    'JAHR'       : 'Year',
    'MONAT'      : 'Month',
    'WERT'       : 'Value'
})
df.head()

         Category Accident_Type  Year   Month  Value
0  Alkoholunfälle     insgesamt  2023  202301    NaN
1  Alkoholunfälle     insgesamt  2023  202302    NaN
2  Alkoholunfälle     insgesamt  2023  202303    NaN
3  Alkoholunfälle     insgesamt  2023  202304    NaN
4  Alkoholunfälle     insgesamt  2023  202305    NaN

In [35]:
# Keep records until 2020
df = df[df['Year'] <= 2020]
df.head()

          Category Accident_Type  Year   Month  Value
36  Alkoholunfälle     insgesamt  2020  202001   28.0
37  Alkoholunfälle     insgesamt  2020  202002   40.0
38  Alkoholunfälle     insgesamt  2020  202003   27.0
39  Alkoholunfälle     insgesamt  2020  202004   26.0
40  Alkoholunfälle     insgesamt  2020  202005   40.0

In [36]:
# Remove Year from the month from the combined column
df['Month'] = df['Month'].astype(str)
df['Month'] = df['Month'].str[4:].astype(int)
df.head()

          Category Accident_Type  Year  Month  Value
36  Alkoholunfälle     insgesamt  2020      1   28.0
37  Alkoholunfälle     insgesamt  2020      2   40.0
38  Alkoholunfälle     insgesamt  2020      3   27.0
39  Alkoholunfälle     insgesamt  2020      4   26.0
40  Alkoholunfälle     insgesamt  2020      5   40.0